<h2>Clientes</h2>
<div>
    <button *ngIf="!showCreateClient"
        class="btn-yellow"
        (click)="showCreateClientModal()">Nuevo</button>
</div>
<div *ngIf="showCreateClient">
    <app-client-create 
        (formCancelled)="hideCreateClientModal()"
        (reloadList)="reloadList()">
    </app-client-create>
</div>
<div *ngIf="!showCreateClient">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Direccion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john.doeexample.com</td>
                <td>123456789</td>
                <td>Calle 123</td>
            </tr>
        </tbody>
    </table>
</div>

