<h2>Clientes</h2>
<div>
    <button *ngIf="!showCreateClient"
        class="btn-yellow"
        (click)="showCreateClientModal()">Nuevo</button>
</div>
<br>

<div *ngIf="showCreateClient">
    <app-client-create 
        (formCancelled)="hideCreateClientModal()"
        (reloadList)="reloadList()">
    </app-client-create>
</div>

<div *ngIf="!showCreateClient">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Contraseña</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clientList">
                <td>{{client.person.personName}}</td>
                <td>{{client.person.personAddress}}</td>
                <td>{{client.person.personPhone}}</td>
                <td>{{client.clientPassword}}</td>
                <td>{{client.clientStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>

