<h2>Movimientos</h2>
<div>
    <button *ngIf="!showCreateMovement"
        class="btn-yellow"
        (click)="showCreateMovementModal()">Nuevo</button>
</div>

<div *ngIf="showCreateMovement">
    <app-movement-create
        (formCancelled)="cancelCreateMovement()"
        (reloadList)="reloadList()"
    >
    </app-movement-create>
</div>

<div *ngIf="!showCreateMovement">
    <table>
        <thead>
            <tr>
                <th>Número de cuenta</th>
                <th>Tipo</th>
                <th>Saldo inicial</th>
                <th>Estado</th>
                <th>Movimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movement of movementList">
                <td>{{ movement.account.accountNumber }}</td>
                <td>{{ movement.account.accountType }}</td>
                <td>{{ movement.account.accountBeginBalance }}</td>
                <td>{{ movement.account.accountStatus }}</td>
                <td>{{ movement.movementType }} de {{ movement.movementValue < 0 ? movement.movementValue * -1 : movement.movementValue }}</td>
            </tr>
        </tbody>
    </table>
</div>